@font-face {
  font-family: 'Avenir';
  src: url('/fonts/AvenirMedium.ttf');
}
@font-face {
  font-family: 'Avenir-Bold';
  src: url('/fonts/AvenirSemiBold.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Avenir';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
