.mainContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    width: 350px;
    background-image: linear-gradient(
      #32bf84,
      lighten(#32bf84, 20%),
      lighten(#32bf84, 30%)
    );
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 0px;

    .row {
      display: flex;
      flex-direction: row;

      .leftContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .column {
          display: flex;
          flex-direction: column;

          .title {
            font-weight: bold;
            font-size: 18px;
          }

          .subTitle {
            font-size: 14px;
            margin-top: 10px;
            color: darken(#32bf84, 20%);
          }
        }
        .quantity {
          font-weight: bold;
          margin-bottom: 20px;

          > span {
            color: darken(#32bf84, 20%);
            margin-left: 10px;
          }
        }
      }

      .rightContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        img {
          height: 135px;
          width: 110px;
          object-fit: cover;
        }
      }
    }

    .card {
      background-color: lighten(#32bf84, 40%);
      padding: 15px;
      border-radius: 15px;
      padding-right: 40px;
      margin-top: 15px;
      box-shadow: 0px 16px 33px -1px darken(lighten(#32bf84, 40%), 20%);
      
      >span{
        font-family: 'Avenir-Bold';
      }
    }

    .card[data-is-first="true"] {
      margin-top: 0px;
    }

    .card:last-child {
      margin-bottom: -30px;
    }
  }
}
